extends ../_templates/_layouts/default.pug

block vars
  - title = 'Scott Hardy · Projects'
  - navPage = 'projects'

block content
  -
    const projects = [
      {
        name: 'SLP Games',
        img: 'slp-games.png',
        link: 'https://slpgames.com',
        description: 'Games for speech-language pathologists to do therapy, remotely.',
        tags: ['2020', 'Vue.js', 'Node.js', 'Vercel'],
      },
      {
        name: 'post',
        img: 'post.png',
        link: 'https://post.scotthardy.me',
        source: 'https://github.com/scott113341/post',
        description: 'Simple mobile webapp that directly calls the Lob.com API to mail postcards for under $1.',
        tags: ['2016', 'React/Redux', 'Lob.com API'],
      },
      {
        name: 'yarn add shirts',
        img: 'yarn-add-shirts.png',
        link: 'https://www.yarn-add-shirts.com',
        description: 'Website to order custom "yarn add pkg-name" shirts. Brutalist design with aggressively simple UX.',
        tags: ['2016', 'Cycle.js', 'Styletron', 'Node.js'],
      },
      {
        name: 'Soundcasts',
        img: 'soundcasts.png',
        link: 'https://www.soundcasts.net',
        source: 'https://github.com/soundcasts',
        description: 'Turn SoundCloud profiles into RSS podcast feeds. Made with Ryan/Matt.',
        tags: ['2015', 'Node.js', 'Cycle.js'],
      },
      {
        name: 'SCU•classes',
        img: 'scuclasses.png',
        source: 'https://github.com/scott113341/SCUclasses',
        description: 'A website for Santa Clara students to streamline class registration. Used by over 90% of students.',
        tags: ['2012-2021', 'Angular.js', 'Ruby on Rails', 'PostgreSQL'],
      },
      {
        name: 'SCU•books',
        img: 'scubooks.png',
        description: 'A website for Santa Clara students to save money on their textbooks. Personalized to each schedule.',
        tags: ['2012-2018', 'Angular.js', 'Ruby on Rails', 'PostgreSQL'],
      }
    ]

  #projects
    h1 Projects
    p Here's a showcase of the projects I'm most proud of.
    .row
      each project in projects
        .col-sm-6
          .project
            h2.name= project.name

            a(href=project.link)
              img(src=project.img)

            p.visit
              if project.link
                a(href=project.link) Visit site

              if project.link && project.source
                span &nbsp&middot;&nbsp;

              if project.source
                a(href=project.source) Source

            p!= project.description

            each tag in project.tags
              span.tag= tag
