extends ../_templates/_layouts/default.pug


block vars
  - title = 'Scott Hardy · Projects'
  - navPage = 'projects'


block content
  -
    var projects = [
      {
        name: 'Soundcasts',
        img: 'soundcasts.png',
        link: 'https://www.soundcasts.com',
        source: 'https://github.com/soundcasts',
        description: 'A website I made with Ryan and Matt that turns SoundCloud profiles into podcasts.',
        tags: ['Node.js', 'Cycle.js']
      },
      {
        name: 'SCU•classes',
        img: 'scuclasses.png',
        link: 'http://scuclasses.com',
        description: 'SCU•classes is a website I made for Santa Clara Students to streamline the process of registering for classes.  It launched in January 2013, and is now used by over 90% of the undergraduate population (about 5000 unique students each quarter).',
        tags: ['Angular.js', 'Ruby on Rails', 'Bootstrap', 'PostgreSQL']
      },
      {
        name: 'SCU•books',
        img: 'scubooks.png',
        link: 'http://scubooks.com',
        description: 'I\'ve long disliked how absurd college textbook prices are, so I built SCU•books for Santa Clara University students to find the lowest prices on their textbooks.  It pulls up the book list for your class schedule, then searches several online retailers for prices.',
        tags: ['Angular.js', 'Ruby on Rails', 'Bootstrap', 'PostgreSQL']
      },
      {
        name: 'Powder Keg Brewing Company Website',
        img: 'pkbc.png',
        link: 'http://www.powderkegbrewingcompany.com',
        source: 'https://github.com/scott113341/powderkegbrewingcompany',
        description: 'This is the website for Powder Keg Brewing Company, a new craft microbrewery in Niwot, Colorado.',
        tags: ['Ruby on Rails', 'Angular.js']
      }
    ]

  #projects
    h1 Projects
    p Here's a showcase of the projects I'm most proud of.
    .row
      each project in projects
        .col-sm-6
          .project
            h2.name= project.name

            a(href=project.link)
              img(src=project.img)

            p.visit
              if project.link
                a(href=project.link) Visit site

              if project.link && project.source
                span &nbsp&middot;&nbsp;

              if project.source
                a(href=project.source) View source

            p!= project.description

            each tag in project.tags
              span.tag= tag
