extends ../_templates/_layouts/default


block vars
  - title = 'Scott Hardy : Projects'
  - navPage = 'projects'


block content
  -
    var projects = [
      {
        name: 'SCU•classes',
        img: 'https://s3-us-west-2.amazonaws.com/scotthardy/scuclasses.png',
        link: 'http://scuclasses.com',
        src_link: 'https://github.com/scott113341/SCUclasses',
        description: 'SCU•classes is a website I made for Santa Clara Students to streamline the process of registering for classes.  It launched in January 2013, and is now used by over 90% of the undergraduate population (about 5000 unique students each quarter).',
        tags: ['Angular.js', 'Ruby on Rails', 'Bootstrap', 'PostgreSQL', 'Nokogiri']
      },
      {
        name: 'SCU•books',
        img: 'https://s3-us-west-2.amazonaws.com/scotthardy/scubooks.png',
        link: 'http://scubooks.com',
        description: 'I\'ve long disliked how absurd college textbook prices are, so I built SCU•books for Santa Clara University students to find the lowest prices on their textbooks.  It pulls up the book list for your class schedule, then searches several online retailers for prices.',
        tags: ['Angular.js', 'Ruby on Rails', 'API libraries', 'Bootstrap', 'Nokogiri']
      },
      {
        name: 'Powder Keg Brewing Company Website',
        img: 'https://s3-us-west-2.amazonaws.com/scotthardy/pkbc.png',
        link: 'http://www.powderkegbrewingcompany.com',
        src_link: 'https://github.com/scott113341/powderkegbrewingcompany',
        description: 'This is the website for Powder Keg Brewing Company, a new craft microbrewery in Niwot, Colorado.',
        tags: ['Ruby on Rails', 'Angular.js']
      },
      {
        name: 'Appicenter',
        img: 'https://s3-us-west-2.amazonaws.com/scotthardy/appicenter.png',
        src_link: 'https://github.com/scott113341/appicenter',
        description: '<a href="http://ryantsao.com" target="_blank">Ryan Tsao</a> and I entered this for the 24-hour Broncohack hackathon.  The prompt was for an in-game app experience for the San Jose Earthquakes soccer team.  Our project consisted of a jumbotron display, mobile phone display, and admin interface.  The app implemented a real-time auctioning system and Instagram feed.',
        tags: ['Firebase', 'Angular.js', 'Gulp.js', 'LESS', 'Bootstrap']
      }
    ]

  .projects
    h1 Projects
    p Here's a showcase of the projects I'm most proud of.
    .row
      each project in projects
        .col-sm-6
          .project
            h2.name= project.name

            a(href=project.link, target='_blank')
              img(src=project.img)

            p.visit
              if project.link
                a(href=project.link, target='_blank') Visit site

              if project.link && project.src_link
                span &nbsp|&nbsp;

              if project.src_link
                a(href=project.src_link, target='_blank') View source

            p!= project.description

            each tag in project.tags
              span.tag= tag
